{% extends "bootstrap/base.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block head %}
    {{ super() }}
    <script src="https://kit.fontawesome.com/4c86883252.js" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}

<div class="container" style="margin-top: 30px;">
  <div class="col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h2 style="margin-top: 10px; margin-bottom: 10px;">Gilda Grounding Service</h2>
      </div>
      <div class="panel-body">
        <p>
            The Gilda grounding service (v{{ version }}) can be used to
            identify structured identifiers for entity names.</p><p>
        For programmatic access, see the <a href="apidocs">API documentation</a>
        and the <a href="https://github.com/indralab/gilda/blob/master/README.md">user guide</a>
        for more information.
      </p>
      </div>
    </div>
    <div class="panel panel-default">
      {% block gcontent %}{% endblock %}
    </div>
    <div class="well">
      <p>Gilda is developed by <a href="https://indralab.github.io"
          target="_blank">INDRA labs</a> which is part of the <a
          href="http://hits.harvard.edu" target="_blank">Harvard Program in
      Therapeutic Science (HiTS)</a>. The development of Gilda was funded under
  the DARPA Communicating with Computers program (ARO grant W911NF-15-1-0544)
  and the DARPA Young Faculty Award (ARO grant W911NF-20-1-0255).
      Point of contact: Benjamin M. Gyori (benjamin_gyori [AT]
      hms.harvard.edu).
      </p>
    </div>
  </div>
</div>
{% endblock %}
