{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css">
    <style>
        div.choices {
            margin-bottom: 0;
        }
    </style>
{% endblock %}

{% block gcontent %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>

<script>
    $(document).ready(function() {
        // see https://github.com/jshjohnson/Choices
        const organismSelect = new Choices('#organism-select');
    })
</script>

<div class="panel-heading">
    <h3 class="panel-title">Gilda grounding input</h3>
</div>
<div class="panel-body">
    <form class="form" method="POST" role="form">
    {{ wtf.form_field(form.text) }}
    {{ wtf.form_field(form.context) }}
    {{ wtf.form_field(form.organisms, class_="form-control") }}
    {{ wtf.form_field(form.submit, class="btn btn-primary")}}
    </form>
</div>

<div class="modal fade" id="text-modal" tabindex="-1" role="dialog" aria-labelledby="textModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="textModalLabel">Text Modal Header</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Text modal main text
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="context-modal" tabindex="-1" role="dialog" aria-labelledby="contextModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="contextModalLabel">Context Modal Header</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    There is no hard requirement for how much context should be (optionally) provided for disambiguation. In practice, the context provided could be a sentence, a paragraph, or even an entire article. While it is not required that the context contain the entity text being grounded, in practice, context usually consists of text surrounding and including the entity. Overall, given that disambiguation models integrated from Adeft as well as the models made available independently by Gilda rely on word frequency-derived features, it is generally helpful if context text contains terms characteristic to the given sense of the ambiguous string. Additionally, since Adeft models have the ability to recognize defining patterns (i.e., an explicit spelled out definition of an ambiguous acronym), any context text containing such patterns is useful.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="species-modal" tabindex="-1" role="dialog" aria-labelledby="speciesModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="speciesModalLabel">Species Modal Header</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Species modal main text
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
