{% extends "base.html" %}

{% block gcontent %}
    {{ render_form(form) }}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Gilda grounding results</h3>
        </div>
        <div class="panel-body">
            <p>
                Results for <code>{{ text }}</code>
                {% if context %} with context
                    <i>{{ context }}</i>{% endif %}
            </p>
            <p>
                The table below contains the retrieved Groundings ordered by
                descreasing score. The standard name for the entry is given in
                the Name column. Additional groundings are provided for some
                entries where a match was found to an equivalent term in a
                namespace different from the primary grounding's.
            </p>
        </div>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Database</th>
                <th>Identifier</th>
                <th>Name</th>
                <th>Score</th>
            </tr>
            </thead>
            <tbody>
            {% for match in matches %}
                <tr>
                    <td>{{ match['term']['db'] }}</td>
                    <td><a href="{{ match['url'] }}">{{ match['term']['id'] }}</a></td>
                    <td>{{ match['term']['entry_name'] }}</td>
                    <td class="text-right">{{ match['score'] | round(4) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
