name: Unit tests

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8", "3.12"]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install .[test,ui]
        pip install git+https://github.com/gyorilab/adeft.git
        python -c "import nltk; nltk.download('punkt'); nltk.download('stopwords')"
        python -m adeft.download
    - name: Tests
      run: |
        pytest gilda/tests --ignore=gilda/tests/test_generate_terms.py --durations=20 --cov=gilda
